<div class="container">
	<h1>Contact list</h1>
	 <button class='btn btn-success pull-right' routerLink="/contact-add" > 
        Create New Contact
          </button> 
	<table class="table">
		<thead  class="thead-dark">
			<tr>
				<th scope="col">Name (Job Title)</th>
				<th scope="col">Company</th>
				<th scope="col">Phone</th>
				<th scope="col">Address</th>
				<th scope="col">Email</th>
				<th scope="col">Last Date Contacted</th>
			</tr>
		</thead>
		<tbody>
			<ng-container  *ngFor ="let contact of contactData">
			<tr>
				<td><a [routerLink]="['/contact',contact.id]" >{{contact.name}}</a></td>
				<td>{{contact.company}}</td>
				<td>{{contact.phone}}</td>
				<td>{{contact.address}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.last_date_contacted}}</td>
			</tr>
			</ng-container>
		</tbody>
	</table>
</div>
