<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
     MNP Contact Managment
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li><a routerLink="/contacts" routerLinkActive="active">Contact List</a></li>
    </ul>
  </div>
</div>
</nav>
<div class="container">
  <h1>MNP Contact Management</h1>
</div>

<!-- /.container -->
<router-outlet></router-outlet>