<div class="container">
	<h1>Add New</h1>
	<form [formGroup]="contactForm" (ngSubmit)="submitData();">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="inputEmail4">Name</label>
				<input type="text" class="form-control" placeholder="Name"  formControlName="name" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }">
				<div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
					<div *ngIf="fval.name.errors.required">
						Name is required.
					</div>
				</div>
			</div>
				 <div class="form-group col-md-4">
					<label for="inputPassword4">Addree</label>
					<input type="text" class="form-control" placeholder="1234 Main St" formControlName="address" [ngClass]="{ 'is-invalid': submitted && fval.address.errors }">
					<div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
						<div *ngIf="fval.address.errors.required">
							Address is required
						</div>
					</div>
				</div>
					<div class="form-group col-md-4">
						<label for="inputPassword4">Last Date Contacted</label>
						<input type="text"
						placeholder="Datepicker"
						class="form-control"
						bsDatepicker formControlName="last_date_contacted" [ngClass]="{ 'is-invalid': submitted && fval.last_date_contacted.errors }">
						<div *ngIf="submitted && fval.last_date_contacted.errors" class="invalid-feedback">
							<div *ngIf="fval.last_date_contacted.errors.required">
								Last Date Contacted is required
							</div>
						</div>
					</div>
</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="inputEmail4">Job Title</label>
							<input type="text" class="form-control"  placeholder="Job Title" formControlName="job_title"  [ngClass]="{ 'is-invalid': submitted && fval.job_title.errors }">
							<div *ngIf="submitted && fval.job_title.errors" class="invalid-feedback">
								<div *ngIf="fval.job_title.errors.required">
									Job Title is required
								</div>
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="inputPassword4">Phone</label>
							<input type="tel" class="form-control" id="inputAddress" placeholder="Phone Number" formControlName="phone"  [ngClass]="{ 'is-invalid': submitted && fval.phone.errors }">
							<div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
								<div *ngIf="fval.phone.errors.required">
									Phone Number is required
								</div>
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4">Email</label>
							<input type="email" class="form-control" id="inputEmail4" placeholder="Email Address" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
							<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
								<div *ngIf="fval.email.errors.required">Email is required</div>
								<div *ngIf="fval.email.errors.email">Enter a valid email address</div>
							</div>
						</div>
					</div>


					<div class="form-row">

						<div class="form-group col-md-6">
							<label for="inputState">Company</label>
							<select id="inputState" class="form-control"  formControlName="company"  [ngClass]="{ 'is-invalid': submitted && fval.company.errors }">
								<option selected>Choose...</option>
								<option>HP</option>
								<option>Microsoft</option>
								<option>Disney</option>
							</select>
							<div *ngIf="submitted && fval.company.errors" class="invalid-feedback">
								<div *ngIf="fval.company.errors.required">
									Phone Number is required
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="inputZip">Comment</label>
							<textarea class="form-control" formControlName="comment"  [ngClass]="{ 'is-invalid': submitted && fval.comment.errors }"></textarea>
							<div *ngIf="submitted && fval.comment.errors" class="invalid-feedback">
								<div *ngIf="fval.comment.errors.required">
									Phone Number is required
								</div>
							</div>
						</div>
					</div> 
					<button type="submit" class="btn btn-primary signin">Save<span class="arrowbtn"><span
						class="fa fa-arrow-right"></span></span></button>

				</form>
				</div>
		